<?xml version="1.0" encoding="utf-8"?>

<manifest
    package="app.egghunt"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.EggHunt">

        <activity
            android:label="@string/activity_position"
            android:name=".action.position.PositionActivity"/>

        <activity
            android:label="@string/activity_scan"
            android:name=".action.scan.ScanActivity"/>

        <activity
            android:label="@string/activity_hunter"
            android:name=".hunter.HunterActivity"
            android:theme="@style/Theme.EggHunt.NoActionBar"/>

        <activity
            android:label="@string/activity_organizer"
            android:name=".organizer.OrganizerActivity"
            android:theme="@style/Theme.EggHunt.NoActionBar"/>

        <activity
            android:exported="true"
            android:label="@string/activity_welcome"
            android:name=".welcome.WelcomeActivity"
            android:theme="@style/Theme.EggHunt.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:exported="false" android:name=".device.DeviceService"/>
        <service android:exported="false" android:name=".hunter.HunterService"/>
        <service android:exported="false" android:name=".score.ScoreService"/>

        <!-- Firebase Messaging -->

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_egg"/>

        <service
            android:exported="false"
            android:name=".lib.MessagingService">

            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <!-- Google Maps -->

        <meta-data android:name="com.google.android.geo.API_KEY" android:value="${MAPS_API_KEY}"/>
    </application>
</manifest>
