<?xml version="1.0" encoding="utf-8"?>

<manifest
    package="app.egghunt"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>

    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.EggHunt">

        <activity
            android:label="@string/activity_scan"
            android:name=".ScanActivity"
            android:parentActivityName=".WelcomeActivity"
            android:theme="@style/Theme.EggHunt"/>

        <activity
            android:exported="true"
            android:label="@string/activity_welcome"
            android:name=".WelcomeActivity"
            android:theme="@style/Theme.EggHunt.Welcome">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>